[Unit]
Description=Prometheus exporter for Tor
Depends=tor.service

[Service]
EnvironmentFile=-/etc/default/prometheus-tor-exporter
ExecStart=/usr/bin/prometheus-tor-exporter.py $ARGS
User=debian-tor

[Install]
WantedBy=multi-user.target
