[Unit]
Description=Prometheus exporter for Tor
Depends=tor.service

[Service]
ExecStart=/usr/bin/prometheus-tor-exporter.py
User=debian-tor

[Install]
WantedBy=multi-user.target
